# exclude data from source control by default
/data/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
__pycache__/
/src/scripts/feature_generation/video_feature_generation/c3d/c3d.pickle

